* {
  margin: 0;
  padding: 0;
  font-family: "Atma", cursive;
  font-size: 25px;
}
body {
  background-color: #fafafa;
}
main {
  height: auto;
}
header {
  display: flex;
  justify-content: center;
}

.barraBusqueda {
  height: 6vh;
  width: 50%;
  margin-left: 25%;
}

.dropdown-menu {
  background-color: #fafafa;
}

#carouselExampleControls {
  img {
    height: 95vh;
    width: 100%;
  }
  #irAlSitio {
    margin-top: 5px;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}

.carousel-item {
  height: 100vh;
}
.titulo {
  margin-top: -70px;
  margin-bottom: 150px;
  text-align: center;
  padding-top: 150px;
  font-size: 100px;
  text-decoration: solid;
}
.imagines1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding-left: 2.5%;
}
.foto2 {
  width: 90%;

  &:hover {
    transform: scale(1.1, 1.1);
    opacity: 85%;
    border: black solid 5px;
    border-radius: 10px;
  }
}

.inst {
  width: 30%;
  display: flex;
  justify-content: center;
}

.nombre_insta {
  position: relative;
  margin-left: 1%;
  font-size: 30px;
  p {
    font-size: 1em;
  }
}

.footerTexto {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-left: 2px solid gray;
  margin-left: 2%;
  .contacfoo {
    border-left: 2px solid gray;
    padding-left: 5%;
  }
}

footer {
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  padding-top: 1%;
  width: 100%;
  margin-top: 5%;
  color: #fafafa;
  text-align: center;
  display: flex;
}
///////////////////////////////////////////   NOSOTROS ///////////////////////////////////////////////////

.titleNos {
  font-size: 20px;
  margin-top: 8%;
  width: 100%;
  img {
    width: 100%;
  }
}

.textNos {
  margin: 3% 5% 5% 5%;
  font-size: 20px;
  .ParraNos {
    font-size: 1.5em;
  }
}

.ContacNos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.FormNos {
  margin-top: 2%;
  margin-right: 10%;
  width: 40%;
  font-size: 20px;
  h1 {
    margin-left: 20%;
    margin-bottom: 7%;
    font-size: 2.9em;
  }
}

.Formulario {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .AreaNos {
    margin-left: 1%;
    margin-bottom: 5%;
  }
}

.inputNos {
  margin-bottom: 5%;
}

.btnNos {
  margin-left: 22%;
}
.btnReset {
  margin-right: 5%;
}

.ContactNos2 {
  margin-top: 6%;
  margin-bottom: 2%;
  font-size: 20px;
  width: 30%;
  h2 {
    margin-bottom: 10%;
    font-size: 2.9em;
    margin-left: 25%;
  }
}

.IconsNos {
  display: flex;
  flex-direction: column;
}

.IconFlex {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  .IconMarg {
    margin-right: 2%;
    font-size: 20px;
    p {
      font-size: 1.5em;
    }
  }
}

.MapNos {
  width: 100%;
  margin-top: 5%;
  iframe {
    width: 100%;
  }
}

/////////////////////////////////////////////// PRODUCTOS   // ///////////////////////////////////////////////////

.titleProducto {
  margin-top: 8%;
  width: 100%;
}
.tam-2 {
  font-size: 2em;
  margin-top: 20%;
  font-weight: bold;
}
.tam-3 {
  font-size: 1.3em;
  margin-top: 7%;
}
.container_sustrato {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  @media (max-width: 900px) {
    width: 100%;
  }
}
.cont_productos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-top: 5%;
  @media (max-width: 900px) {
    justify-content: center;
  }
}
.cont_menu {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  @media (max-width: 900px) {
    display: none;
  }
}

.caja {
  width: 18%;
  font-size: 25px;
  img {
    width: 100%;
    height: 250px;
  }
  margin: 5% 3% 5% 3%;
  &:hover {
    opacity: 90%;
    border: 1px solid black;
    transform: scale(1.2, 1.2);
  }

  .titleProd {
    margin-bottom: 10%;
    font-size: 1em;
    font-weight: bold;
  }

  .price {
    font-size: 1.5em;
  }

  p {
    text-align: center;
    width: 100%;
  }
}

/////////////////////////////// ACA PONGO EL LABEL ///////////////////////////////////////////////////////

/* Customize the label (the container) */
/* Hide the browser's default checkbox */
/* Create a custom checkbox */
/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
/* Show the checkmark when checked */
/* Style the checkmark/indicator */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
  text-align: center;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      ~ {
        .checkmark {
          background-color: #2196f3;
          &:after {
            display: block;
          }
        }
      }
    }
  }
  &:hover {
    input {
      ~ {
        .checkmark {
          background-color: #ccc;
        }
      }
    }
  }
  .checkmark {
    &:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-left: 30%;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

//////////////////////////////////// RESPONSIVE ////////////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 200px) and (max-width: 340px) {
  ////////////////////////// INDEX //////////////////////////////////////////////////////////////////////////////////////////////////////
  body {
    background-color: #fafafa;
  }
  * {
    font-size: 15px;
  }
  .barraBusqueda {
    display: none;
  }
  .btn-buscar {
    display: none;
  }

  .navbar-brand {
    width: 60%;
  }

  #logo {
    width: 80%;
  }

  #carouselExampleControls {
    img {
      height: 30vh;
      width: 100%;
      margin-top: 20%;
    }
    #irAlSitio {
      display: none;
    }
  }

  .carousel-item {
    height: 50vh;
  }

  #TiendaDeCultivo {
    font-size: 2em;
    padding: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 0;
  }

  .imagines1 {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 12%;
    .foto2 {
      margin-bottom: 10%;
    }
  }

  footer {
    font-size: 16px;
    flex-direction: row-reverse;
    .inst {
      width: 20%;
      padding-top: 1%;
      img {
        height: 50px;
        width: 50px;
      }
      .nombre_insta {
        display: none;
      }
    }
    .contacfoo {
      display: none;
    }
  }

  .borderfoo {
    border-left: 0;
    p {
      font-size: 20px;
      border-left: 0;
    }
  }

  .footerTexto {
    width: 80%;
    border-left: 0;
  }
  /////////////////////////////////////////// PRODUCTOS ////////////////////////////////////////////////////////////////////////////////

  .titleProducto {
    margin-top: 25%;
  }

  .caja {
    width: 30%;
    font-size: 12px;
    img {
      height: 150px;
    }
  }

  /////////////////////////////////////////////////// NOSOTROS ////////////////////////////////////////////////////////////

  .titleNos {
    margin-top: 35%;
    margin-bottom: 10%;
  }

  .textNos {
    .ParraNos {
      font-size: 0.5em;
    }
  }

  .ContacNos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FormNos {
    width: 80%;
    margin-right: -5%;
    h1 {
      font-size: 1.5em;
      text-align: center;
      margin-left: -10%;
      @media (min-width:341px) and (max-width: 390px) {
        font-size: 2em;
      }
    }
    .Formulario {
      font-size: 0.7em;
      .AreaNos {
        margin-left: 6%;
        width: 80%;
      }
    }
  }

  .btnNos {
    padding-bottom: 10%;
    .btnReset {
      font-size: 0.7em;
    }
    .btnEnviar {
      font-size: 0.7em;
    }
  }

  .inputNos {
    width: 45%;
    margin-left: 3%;
    margin-bottom: 5%;
  }

  .ContactNos2 {
    width: 90%;
    margin-right: 10%;
    h2 {
      font-size: 2em;
    }
  }

  .IconMarg {
    align-items: center;
    margin-left: 25%;
  }

  .IconsNos {
    width: 100%;
  }

  .IconFlex {
    width: 100%;
    margin-left: 5%;
    p {
      width: 100%;
      font-size: 0.9em;
      text-align: center;
    }
  }

  .MapNos {
    iframe {
      height: 20vh;
    }
  }
}

@media (min-width: 341px) and (max-width: 464px) {
  ////////////////////////// INDEX //////////////////////////////////////////////////////////////////////////////////////////////////////

  body {
    background-color: #fafafa;
  }
  * {
    font-size: 20px;
  }
  .barraBusqueda {
    display: none;
  }
  .btn-buscar {
    display: none;
  }

  .navbar-brand {
    width: 50%;
  }

  #carouselExampleControls {
    img {
      height: 30vh;
      width: 100%;
      margin-top: 20%;
    }
    #irAlSitio {
      display: none;
    }
  }

  .carousel-item {
    height: 50vh;
  }

  #TiendaDeCultivo {
    font-size: 2em;
    padding: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 0;
  }

  .imagines1 {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 12%;
    .foto2 {
      margin-bottom: 10%;
    }
  }

  footer {
    font-size: 16px;
    flex-direction: row-reverse;
    .inst {
      width: 20%;
      padding-top: 1%;
      img {
        height: 50px;
        width: 50px;
      }
      .nombre_insta {
        display: none;
      }
    }
    .contacfoo {
      display: none;
    }
  }

  .borderfoo {
    border-left: 0;
    p {
      font-size: 20px;
      border-left: 0;
    }
  }

  .footerTexto {
    width: 80%;
    border-left: 0;
  }
  /////////////////////////////////////////// PRODUCTOS ////////////////////////////////////////////////////////////////////////////////

  .titleProducto {
    margin-top: 30%;
  }

  .caja {
    width: 35%;
    font-size: 12px;
    padding: 2%;
    img {
      height: 125px;
    }
  }

  /////////////////////////////////////////////////// NOSOTROS ////////////////////////////////////////////////////////////

  .textNos {
    .ParraNos {
      font-size: 0.9em;
    }
  }

  .titleNos {
    margin-top: 30%;
  }

  .ContacNos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FormNos {
    width: 80%;
    margin-right: -1%;
    h1 {
      font-size: 2.5em;
      text-align: center;
      margin-left: -10%;
      @media (max-width: 390px) {
        font-size: 2em;
      }
    }
    .Formulario {
      font-size: 0.7em;
      .AreaNos {
        margin-left: 6%;
        width: 80%;
      }
    }
  }

  .btnNos {
    padding-bottom: 10%;
    margin-left: 18%;
    .btnReset {
      font-size: 0.7em;
    }
    .btnEnviar {
      font-size: 0.7em;
    }
  }

  .inputNos {
    width: 45%;
    margin-left: 3%;
    margin-bottom: 5%;
  }

  .ContactNos2 {
    width: 90%;
    margin-right: 10%;
    h2 {
      font-size: 2.5em;
      margin-left: 18%;
    }
  }

  .IconMarg {
    margin-left: 15%;
  }

  .IconsNos {
    width: 100%;
  }

  .IconFlex {
    width: 100%;
    p {
      width: 100%;
      font-size: 0.9em;
      text-align: center;
      padding-top: 3%;
    }
  }

  .MapNos {
    iframe {
      height: 25vh;
    }
  }
}

@media (min-width: 465px) and (max-width: 599px) {
  ////////////////////////// INDEX //////////////////////////////////////////////////////////////////////////////////////////////////////
  body {
    background-color: #fafafa;
  }
  * {
    font-size: 20px;
  }
  .barraBusqueda {
    display: none;
  }
  .btn-buscar {
    display: none;
  }

  .navbar-brand {
    width: 40%;
  }

  #logo {
    width: 100%;
    height: 70px;
  }

  #carouselExampleControls {
    img {
      height: 30vh;
      width: 100%;
      margin-top: 15%;
    }
    #irAlSitio {
      display: none;
    }
  }

  .carousel-item {
    height: 50vh;
  }

  #TiendaDeCultivo {
    font-size: 2em;
    padding: 0;
    padding-top: 5%;
    padding-bottom: 10%;
    margin-bottom: 0;
  }

  .imagines1 {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 12%;
    .foto2 {
      margin-bottom: 10%;
    }
  }

  footer {
    font-size: 16px;
    flex-direction: row-reverse;
    .inst {
      width: 20%;
      padding-top: 1%;
      margin-bottom: 2%;
      img {
        height: 60px;
        width: 60px;
      }
      .nombre_insta {
        display: none;
      }
    }
    .contacfoo {
      display: none;
    }
  }

  .borderfoo {
    border-left: 0;
    p {
      font-size: 20px;
      border-left: 0;
    }
  }

  .footerTexto {
    width: 80%;
    border-left: 0;
  }
  /////////////////////////////////////////// PRODUCTOS ////////////////////////////////////////////////////////////////////////////////

  .titleProducto {
    margin-top: 30%;
  }

  .caja {
    width: 30%;
    font-size: 12px;
    img {
      height: 150px;
    }
  }

  /////////////////////////////////////////////////// NOSOTROS ////////////////////////////////////////////////////////////

  .textNos {
    .ParraNos {
      font-size: 0.9em;
    }
  }

  .titleNos {
    margin-top: 20%;
  }

  .ContacNos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FormNos {
    width: 80%;
    margin-right: -10%;
    h1 {
      font-size: 3em;
      text-align: center;
      margin-left: -10%;
    }
    .Formulario {
      font-size: 1em;
      margin-right: 3%;
      .AreaNos {
        margin-left: 6%;
        width: 80%;
      }
    }
  }

  .btnNos {
    padding-bottom: 10%;
    font-size: 1em;
    .btnReset {
      font-size: 1em;
    }
    .btnEnviar {
      font-size: 1em;
    }
  }

  .inputNos {
    width: 45%;
    margin-left: 3%;
    margin-bottom: 5%;
  }

  .ContacNos {
    margin-right: 10%;
  }

  .ContactNos2 {
    width: 100%;
    h2 {
      font-size: 3em;
    }
  }

  .IconMarg {
    align-items: center;
    margin-left: 25%;
  }

  .IconsNos {
    width: 100%;
  }

  .IconFlex {
    width: 100%;
    p {
      width: 100%;
      font-size: 1.2em;
      text-align: center;
      padding-right: 20%;
    }
  }

  .MapNos {
    iframe {
      height: 30vh;
    }
  }
}

@media (min-width: 600px) and (max-width: 1150px) {
  /////////////////////////////////// INDEX //////////////////////////////////////////////////////////////////////////////////////////////////////
  body {
    background-color: #fafafa;
  }
  * {
    font-size: 35px;
  }
  .barraBusqueda {
    display: none;
  }
  .btn-buscar {
    display: none;
  }

  .navbar-brand {
    width: 40%;
  }

  #logo {
    width: 100%;
  }

  #carouselExampleControls {
    img {
      height: 40vh;
      width: 100%;
      margin-top: 10%;
    }
    #irAlSitio {
      display: none;
    }
  }

  .carousel-item {
    height: 50vh;
  }

  #TiendaDeCultivo {
    font-size: 2em;
    padding: 0;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-bottom: 0;
  }

  .imagines1 {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 12%;
    .foto2 {
      margin-bottom: 10%;
    }
  }

  footer {
    font-size: 16px;
    flex-direction: row-reverse;
    .inst {
      width: 20%;
      padding-top: 1%;
      margin-bottom: 2%;
      img {
        height: 60px;
        width: 60px;
      }
      .nombre_insta {
        display: none;
      }
    }
    .contacfoo {
      display: none;
    }
  }

  .borderfoo {
    border-left: 0;
    p {
      font-size: 0.8em;
      border-left: 0;
    }
  }

  .footerTexto {
    width: 80%;
    border-left: 0;
  }
  /////////////////////////////////////////// PRODUCTOS ////////////////////////////////////////////////////////////////////////////////

  .titleProducto {
    margin-top: 20%;
  }

  .container {
    font-size: 15px;
  }

  .cont_menu {
    font-size: 15px;
  }

  .caja {
    font-size: 15px;
    img {
      height: 150px;
    }
  }

  ////////////////////////////////////////////////////////////// NOSOTROS //////////////////////////////////////////////////////////////

  .textNos {
    .ParraNos {
      font-size: 1.2em;
    }
  }

  .titleNos {
    margin-top: 20%;
    @media (min-width: 600px) and (max-width: 646px) {
      margin-top: 25%;
    }
  }

  .ContacNos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FormNos {
    width: 80%;
    margin-right: -5%;
    h1 {
      font-size: 3.5em;
      text-align: center;
      margin-left: -10%;
      @media (min-width: 600px) and (max-width: 700px) {
        font-size: 3.3em;
      }
    }
    .Formulario {
      font-size: 1em;
      .AreaNos {
        margin-left: 6%;
        width: 70%;
      }
    }
  }

  .btnNos {
    padding-bottom: 10%;
    font-size: 1em;
    @media (min-width: 600px) and (max-width: 715px) {
      margin-left: 15%;
    }
    .btnReset {
      font-size: 1em;
    }
    .btnEnviar {
      font-size: 1em;
    }
  }

  .inputNos {
    width: 35%;
    margin-left: 3%;
    margin-bottom: 5%;
    @media (min-width: 600px) and (max-width: 828px) {
      width: 45%;
    }
  }

  .ContactNos2 {
    width: 100%;
    h2 {
      font-size: 3.5em;
    }
  }

  .IconMarg {
    align-items: center;
    margin-left: 25%;
  }

  .IconFlex {
    width: 100%;
    p {
      width: 100%;
      font-size: 0.7em;
      text-align: center;
      padding-right: 20%;
    }
  }
}

@media (min-width: 1151px) and (max-width: 1801px) {
  ////////////////////////// INDEX //////////////////////////////////////////////////////////////////////////////////////////////////////

  #carouselExampleControls {
    img {
      height: 85vh;
    }
  }

  #TiendaDeCultivo {
    margin-bottom: 10%;
  }

  .nombre_insta {
    h2 {
      font-size: 1.5em;
    }
  }

  .inst {
    width: 45%;
    img {
      width: 100px;
      height: 100px;
    }
  }
}

/////////////////////////////////////////////////// MEDIA PARA NOSOTROS /////////////////////////////////////////////////////

@media (min-width: 1152px) and (max-width: 1431px) {
  .FormNos {
    h1 {
      margin-left: 10%;
    }
  }

  .btnNos {
    margin-left: 20%;
    margin-bottom: 5%;
    padding-bottom: 5%;
  }

  .inputNos {
    width: 35%;
  }

  .ContactNos2 {
    h2 {
      margin-left: 15%;
    }
  }
}
